@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap" );

/*.about{
    padding: 3rem 0;
}*/

.about-content{
    gap: 4rem;
}

.cont-ab{
    background: linear-gradient( #fbf5e8cd, rgba(237, 236, 234, 0.641)ea );
}
/*
.about-title{
    margin: 1rem 0;
}*/

.container_about{
    padding: 0;
}

.about-img img{
    max-width: 100%;
    margin: 30px 0;
    border-radius: 100px;
}

.about-text h2{
    font-size: 35px;
}

.about-text p{
    margin: 1.8rem 0;
    opacity: 0.9;
}

.about-content, .about-text{
    padding: 0 30px;
}

#quemsomos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 37px;
    font-weight: bold;
    background-image: linear-gradient(135deg, rgba(44, 66, 155, 0.883) 0px, rgba(39, 34, 111, 0.795) 100%);
    padding: 50px;
}

@media screen and (min-width: 800px){
    .about-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .about-title{
        margin-top: 0;
        color:orangered;
        text-align: center;
        margin: 35px;
    }
    .about-img img{
        margin-left: 0;
    }
}

.cont-missao{
    align-items: center;
}

.tit-missao{
 color: #1b1093;
}

.missao-text{
    text-align: center;
}

.cont-missao{
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    color: rgb(31, 104, 177);
}

.propostas h3{
    text-align: center;
    font-size: 35px;
}

.propostas p{
    margin-bottom: 30px;
    text-align: center;
    color: #ff651d;
}

.cards-proposta{
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.propostas .card-item-proposta{
  /*  background-color: #aa915e2b;*/
    background: linear-gradient(#e8e2d633, #fffdf83d), url("../..//images/35.jpg") center/cover no-repeat;
    border: 2px solid #ff7333;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
    margin-bottom: 50px;
}
.icon-obj {
    padding: 40px;
    border-radius: 50px;
    color: #ff7333;
    transition: 0.3s;
}
.propostas .card-item-proposta .nome-obj{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    transition: 0.3s;
}


.propostas .card-item-proposta .desc-obj{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}


#manguetown{
    background: linear-gradient( #1a336584 , #1a336584 ), url("../..//images/34.jpg") center/cover no-repeat;
    height: 28.3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    color: rgb(249, 252, 255);
}
#crab-leitores{
    background: linear-gradient( #1a336584 , #1a336584 ), url("../../images/35.jpg") center/cover no-repeat;
    height: 20.3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    color: rgb(249, 252, 255);
    margin-top: 30px;
    border-radius: 0 30px;
}
#mangue-title{
    font-size: 30px;
    color: #ff7333;
    margin-top: 5%;
}


#releitura{
    font-weight: bolder;
}
.about-text b{
    color: #fb783cdd;
}
#conceito{
    margin-top: 50px;
}




.propostas .card-item-context{
    background: linear-gradient(#1a33653b, #1a336532), url("../..//images/34.jpg") center/cover no-repeat;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
    margin-bottom: 50px;
    padding: 5px 20px;
}

.propostas .img-conceito{
    width: 25%;
    margin-top: 15px;
    margin-bottom: 18px;
}

.nome-obj b{
    font-size: 16px;
    font-weight: bold;
}
.propostas .card-item-context p{
    color: #1d1948;
    font-size: 15px;
    font-weight: 500;
}

