@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap" );

.about{
    padding: 3rem 0;
}
.about-content{
    gap: 4rem;
    
}
.about-title{
    margin: 1rem 0;

}
.about-img img{
    max-width: 500px;
    margin: 35px;
}
.about-text p{
    margin: 1.8rem 0;
    opacity: 0.8;
    
}
#quemsomos{
    text-align: center;
    color:orangered;
    font-size:40px; 
}

@media screen and (min-width: 800px){
    .about-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .about-title{
        margin-top: 0;
        color:orangered;
        text-align: center;
        margin: 35px;
    }
    .about-img img{
        margin-left: 0;
    }
}