.container-livros {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 110vh;
    height: auto;
    margin-top: -10%;
}

.btn-filter{
    background-color: #1f2f6a;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-left: 80px;
    cursor: pointer;
}

.input-tit{
    margin-left: 10%;
}

.form-filtros{
    background: linear-gradient( #d5dbf995 , #c5d1f9de), url("../..//images/CANVASBIBLIOCRAB\ \(2\).jpg") center/cover no-repeat;
    padding: 50px;
    border-radius: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 40px;
}

.form-filtros input{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #8f6fdcb7;
}

.form-filtros label{
    font-weight: 600;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1450px;
    align-items: center;
    justify-content: center;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 380px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.316) 0px 7px 29px 0px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid #1f2f6a30;
 }

 @media(max-width: 900px){
    .card{
        margin-left: -10px;
        margin-top: 0;
    }
    .form-filtros{
        margin-left: 50px;
    }
    .input-tit{
        margin-left: 0;
        margin-right: -5%;
    }
    .btn-filter{
        margin-left: 50px;
    }
}
 
 .img-capa{
    border-radius: 4px;
    width: 180px;
    height: 220px;
 }

 .tit-liv{
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
 }
 .autor{
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 15px;  
    text-align: center;
 }

 .container-livros #cadLivro {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    
    background-color: #fe5c3c;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 10vh;
    right: 24px;
    transition: all 0.1s linear 0.1s;
}
  
.container-livros #cadLivro:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
    transform: scale(1.1);
}

.container-livros .details{
    background-color: #5c3cfe;
    color: white;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.1s linear 0.1s;
}

.container-livros .details:hover {
    background-color: #fe5c3c;
    box-shadow: rgba(46, 46, 214, 0.2) 0px 7px 7px 0px;
    
}

.modal-detalhes{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width: 900px;
    height: 550px;
    border-radius: 8px;
    background: linear-gradient( #fefeff85 , #fefeffbb), url("../..//images/CANVASBIBLIOCRAB\ \(1\).jpg") center/cover no-repeat;
    border: 4px solid #423cfe;
    box-shadow: rgba(100, 100, 111, 0.316) 0px 7px 29px 0px;
    padding: 0;
    margin-top: -50vh;
}

#deletar{
background-color: #fe2323;
}

#alterar{
background-color: #0bad36;
color: white; 
}

.modal-tit{
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 40px;
    font-weight: 700;
}

.modal-detalhes .modal-img{
    width: 230px;
    height: 300px;
    border-radius: 8px;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-right: 20px;
}

.div-p {
    margin-top: 20px;
}

.div-p p{
    margin-top: 8px;
}

.div-p .tit{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.modal-fechar{
    background-color: #423cfe;
    padding: 10px 20px ;
    border-radius: 10px;
    float: right;
    color: #ffffff;
    margin-right: 30px;
    margin-top: 18px;
}