@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

#email,#senha{
    border-radius: 10px;
    display: inline;
    width: 90%;
    height: 30px;
    color: black;
    padding: 10px;
   /* margin-left: 5%;*/
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.32);
    outline: 1px solid rgb(102, 0, 255);
}

.log-adm{
    background: linear-gradient( #d5dbf985 , #d5dbf996), url("../..//images/CANVASBIBLIOCRAB\ \(2\).jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    
}

.input-cadastro label{
color: white;
font-family: inherit;
font-weight: 500;
margin-left: 5%;
font-size: 13px;
}

#formcadastro,.crab-img{
    display: inline-block;
}


#formcadastro{
    width: 400px;
    height: auto;
    background: linear-gradient(90deg,rgb(9, 9, 79),rgb(66, 101, 165));
    border-radius: 10px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 7%;
}

#primbotao{
    background-color: rgb(34, 32, 135);
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 25%;
    height: 30px;

}
#primbotao:hover{
    background-color: white;
    color: rgb(34, 32, 135);
    transition: 0.5s;
    opacity: 0.9;
}
#segbotao{
    color: white;
    background-color: rgb(66, 101, 165);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    cursor: pointer;
    padding: 4px 5px;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 35%;
    width: 25%;
    height: 30px;
}

#segbotao:hover{
    background-color: white;
    color: rgb(66, 101, 165);
    transition: 0.5s;
    opacity: 0.9;
}

#primbutcad,#segbutcad{
    display:inline;
}



#email::placeholder,#senha::placeholder{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.582);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#cad{
color: white;
text-align: center;
font-size: 25px;
font-family: inherit;
}

#log{
    font-size: 10px;
    color:white;
    margin-left: 6%;
    margin-top: 2%;
}

#link{
    color: rgba(255, 255, 255, 0.582);
    font-size: 11px;
    
}


@media (max-width:800px) and (min-width:0px) {
    .crab-img{
        display: none;
    }

    #formcadastro{
        width: 250px;
        height: auto;   
     /*   margin-left: 50%;*/
        margin-top: 15%;
    }

     

    #cad{
        font-size: 20px;
    }

    .input-cadastro label{
        font-size: 10px;

    }
#primbotao{
    width: 35%;  
  margin-left: 6px;
}

#segbotao{
   margin-left: 50px;
    width: 35%;
}  
}

@media (min-width:1025px) and (max-width:801px){
    #formcadastro{
        width: 300px;
        height: auto;  
        margin-top: 15%;
    /*    margin-left: 10%; */
    }
    .crab-img{
        width: 250px;
        height: 200px;
        transform: translateX(5%);
        margin-bottom: 300px;
    }

}
