
.section-perfil-usuario .perfil-usuario-body,
.section-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.section-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#fba06f18, transparent);
    margin-bottom: 1.25rem;
}

.section-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #FBA16F, #FFB55D);
    border-radius: 0 0 20px 20px;
}

.section-perfil-usuario .perfil-usuario-portada .button-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: #7b3b1965;
    color: #fff;
    cursor: pointer;
}

.section-perfil-usuario .perfil-usuario-portada .button-portada #icon-img {
    margin-right: 1rem;
    text-align: center;
}

.section-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.section-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.section-perfil-usuario .perfil-usuario-avatar .button-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.section-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.section-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.section-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
    width: 100%;
}

.section-perfil-usuario .perfil-usuario-footer,
.section-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.section-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.section-perfil-usuario .lista-dados {
    width: 50%;
    list-style: none;
}

.section-perfil-usuario .lista-dados li {
    padding: 5px 0;
}

.section-perfil-usuario .lista-dados li>.icon {
    margin-right: 1rem;
    font-size: 1.7rem;
    vertical-align: middle;
}

.section-perfil-usuario .redes-sociais {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.section-perfil-usuario .redes-sociais .button-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.section-perfil-usuario .redes-sociais .button-redes+.button-redes {
    margin-top: .5rem;
}

/*
.section-perfil-usuario .button-redes.facebook {
    background-color: #5955FF;
}

.section-perfil-usuario .button-redes.twitter {
    background-color: #35E1BF;
}

.section-perfil-usuario .button-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adactacion a dispositivos */

.cont-perfil {
    background: linear-gradient( #ffffffd8 , #c2e1eb2e), url("../..//images/34.jpg") center/cover no-repeat;
    height: auto;
    width: 100%;
}
.cronograma{
   padding: 0 40px;
   height: auto;
}


@media (max-width: 750px) {
    .section-perfil-usuario .lista-dados {
        width: 100%;
    }

    .section-perfil-usuario .perfil-usuario-portada,
    .section-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .section-perfil-usuario .redes-sociais {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .section-perfil-usuario .redes-sociais .button-redes+.button-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}
.cont-perfil{
    height: auto;
}

/*cronograma */
